.myCompaniesPage {

  .title {
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .CompanyCardList {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &>* {
      margin-bottom: 1.25rem;
    }
  }

  .ModalConfirmation_size {
    height: 12.5rem;
    width: 34.375rem;
  }
}

@media (max-width: 1476px) {
  .myCompaniesPage {
    display: flex;
    flex-direction: column;

    .CompanyCardList {
      justify-content: center;
    }
  }
}